/* Selektor znacznika */
p {color: orange; background-color: chartreuse;}
/* selektor id */

#paragraph {color: blue;}

/* łączenie selektorów */

a, span, div {color: green;}

/* selektor bezpośredniego elementu potomnego */

li > a {color: red;}

/* selektor elementów potomnych */

div a {color: fuchsia;}

/* selektor bliskiego rodzeństwa */
h2 + h3 {color: deeppink;}

/* selektor rodzeństwa */
h4 ~ p {color: forestgreen}

/* selektor wykluczający */
ul > li:not(.last) {color:cyan}

/* selektor kolejnego elementu potomnego */
ul > ol:nth-child(2n+1) {color: darkgoldenrod;}